@charset "utf-8";
/* CSS Document */

#div_top{
	margin:-10px -10px 0 -10px;
	height:240px;
}
#div_Hallison{
	margin::auto;
	text-align:center;
	margin-top:-70px;
}
#con_Hallison{
	height:20px;
}
#div_conteudo{
	background-color:#F0FEFF;
}
#titulo{
	font-size:70px;
	color:#110785;
}
#menu{
	margin:auto;
}
#img_top{
	width:100%;
	height:100%;
}